@page "/Char"
@using Fluxor
@using FluxorRP.Shared.Store.Character
@rendermode InteractiveWebAssembly
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<CharacterState> CharacterState


<div class="columns-container">
	<div class="column">
		<BoogyCptainSwordee></BoogyCptainSwordee>
	</div>
	<div class="column">
		<h3>Feuille de Personnage</h3>
		<p>Nom : @CharacterState.Value.name</p>
		<p>Points de Vie: @CharacterState.Value.health</p>
		<p>Force: @CharacterState.Value.strength</p>
	</div>
</div>


@code {
}