@page "/roll-dice"
@using Fluxor
@using FluxorRP.Shared.Store.CaptainSwordee
@using FluxorRP.Shared.Store.Dice
@rendermode InteractiveWebAssembly
@inject IDispatcher Dispatcher
@inject IState<DiceState> DiceState

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Lance un Dé</h3>

<div>
    @if (this.DiceState.Value.currentValue > 0)
    {
        <img class="dice" src="@GetDiceImage(this.DiceState.Value.currentValue)" />
    }
</div>
<p>Résultat du dé : @this.DiceState.Value.currentValue</p>
<button @onclick="RollDice">Lancer le Dé</button>

@code {
    private void RollDice()
    {
        Dispatcher.Dispatch(new DiceRollAction());
    }

    private string GetDiceImage(int result)
    {
        if (result > 0)
        {
            return $"images/dice/dice{result}.png";
        }

        return string.Empty;
    }
}


