@page "/roll-dice"
@using Fluxor
@rendermode InteractiveWebAssembly
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Lance un Dé</h3>

<div>
    <img src="@GetDiceImage(this.dice)" />
</div>
<p>Résultat du dé : @dice</p>
<button @onclick="RollDice">Lancer le Dé</button>

@code {
    [Parameter]
    public EventCallback<int> DiceValue { get; set; }

    private Random random = new Random();
    private int dice = 0;

    private void RollDice()
    {
        this.dice = random.Next(1, 6);
        this.DiceValue.InvokeAsync(this.dice);
    }

    private string GetDiceImage(int result)
    {
        if (result > 0)
        {
            return $"images/dice/dice{result}.png";
        }

        return string.Empty;
    }
}


