@page "/Monster"
@using Fluxor
@using FluxorRP.Shared.Store.Monster
@inject IDispatcher Dispatcher
@rendermode InteractiveWebAssembly
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<MonsterState> MonsterState

<h3>Monstre</h3>
<p>Points de Vie: @MonsterState.Value.health</p>
<button @onclick="LaunchAttack">Attaquer le Monstre</button>

@code {
    private void LaunchAttack()
    {
        this.Dispatcher.Dispatch(new MonsterLaunchAttackAction());
    }
}
