@page "/Monster"
@using Fluxor
@inject IDispatcher Dispatcher
@rendermode InteractiveWebAssembly
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Monstre</h3>
<p>Points de Vie: @MonsterHealth</p>
<button @onclick="LaunchAttack">Attaquer le Monstre</button>

@code {
    [Parameter]
    public int MonsterHealth { get; set; } = 100;

    [Parameter]
    public EventCallback<int> AttackMonster { get; set; }

    private void LaunchAttack()
    {
        this.AttackMonster.InvokeAsync(new Random().Next(5, 15));
    }
}
