@page "/Monster"
@using Fluxor
@using FluxorRP.Client.Class
@using static FluxorRP.Client.Action.Action
@inject IDispatcher Dispatcher
@inject IState<MonsterState> MonsterState
@rendermode InteractiveWebAssembly

<h3>Monstre</h3>
<p>Points de Vie: @MonsterState.Value.Health</p>
<button @onclick="AttackMonster">Attaquer le Monstre</button>

@code {
    private void AttackMonster()
    {
        int damage = new Random().Next(5, 15); // Dégâts aléatoires
        Dispatcher.Dispatch(new MonsterAttackAction(damage));
    }
}
