@page "/"
@using Fluxor
@using FluxorRP.Shared.Store.Board
@rendermode InteractiveWebAssembly
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject NavigationManager navigationManager
@inject IState<BoardState> BoardState

<PageTitle>Party</PageTitle>

@if (!BoardState.Value.end)
{<div class="columns-container">
    <div class="column">
            <FluxorRP.Client.Component.Character />
    </div>
    <div class="column">
            <FluxorRP.Client.Component.DiceLauncher />
    </div>
    <div class="column">
            <FluxorRP.Client.Component.Monster />
    </div>
</div>
   
    
   
} else
{
    <div>
        <strong>end of game</strong>
    </div>

    <div>
        @if (BoardState.Value.isPlayerWinner)
        {
            <strong>Player Wins</strong>
        }
        else
        {
            <strong>Monster Wins</strong>
        }
    </div>
    <div>
        <img src="images/gameover.gif" />
    </div>
    <button @onclick="Restart">Jouer à nouveau</button>
}


@code {

    private void Restart()
    {
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }
}
